h1 {
    padding-left: 5px;
}

/* User list page */
.user-list {
    list-style-type: none;
}
.user-list > li {
    margin-top: 20px;
}
.user-name {
    font-weight: bold;
    padding-left: 50px;
}
.user-message {
    font-size: 0.8em;
}

/* User show page */
.breadcrumbs {
    font-size: 0.7em;
    color: #666666;
    margin: 10px;
}
.breadcrumbs a {
    text-decoration: underline;
}
.refresh-btn {
    float: right;
    margin-right: 30px;
    font-size: 0.9em;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

.link {
    cursor: pointer;
}
.report-list {
    list-style-type: disc;
    margin-left: 70px;
}
.report-name {
    font-style: italic;
}

/* Copied from somewhere else */
.alert {
    /* Bootstrap copy*/
    background-color: rgb(242, 222, 222);
    border-bottom-color: rgb(235, 204, 209);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(235, 204, 209);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(235, 204, 209);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(235, 204, 209);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(169, 68, 66);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 52px;
    line-height: 20px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}